{% extends "base.html" %}

{% block title %}Об авторе{% endblock %}

{% block content %}
    <p>
        <h2>Яблочкин Евгений.</h2>
        Веб-разработчик
    </p>

    <p>
        Python, PHP, JavaScript, Django, Tornado, Celery, virtualenv, fabric, CodeIgniter, jQuery, AJAX, Linux administration, CentOS, Debian, Apache, Nginx, MySQL, MongoDB, Reddis, Memcached, SVN, GIT
    </p>

    <p>
        <img src="http://www.free-lance.ru/favicon.ico" width="16" height="16" /> <a href="http://www.free-lance.ru/users/Berserk">Free-lance.ru</a><br />
        <img src="http://linkedin.com/favicon.ico" width="16" height="16" /> <a href="http://www.linkedin.com/pub/eugeny-yablochkin/21/230/640">LinkedIn</a><br />
        <img src="http://github.com/favicon.ico" width="16" height="16" /> <a href="http://github.com/Bers">GitHub</a><br />
        <img src="http://delicious.com/favicon.ico" width="16" height="16" /> <a href="http://delicious.com/Berss">Delicious</a><br />
        <img src="http://twitter.com/favicon.ico" width="16" height="16" /> <a href="http://twitter.com/_bers">Twitter</a><br />
        <img src="http://www.flickr.com/favicon.ico" width="16" height="16" /> <a href="http://www.flickr.com/photos/36930366@N05/">Flickr</a><br />
        <img src="http://vkontakte.ru/favicon.ico" width="16" height="16" /> <a href="http://vkontakte.ru/yablochkin">Вконтакте</a><br />
    </p>
{% endblock %}
