<!DOCTYPE html>
<html>
    <head>
        <title>yablochkin.net</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/main.css" />
        <link href="{{ url_for('feed') }}" rel="alternate" title="yablochkin.net" type="application/atom+xml" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25366243-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <h1><a href="/">Вместо заголовка</a></h1>

                <div id="menu">
                    <ul>
                        <li{% if section == 'home' %} class="selected"{% endif %}><a href="{{ url_for('posts') }}">Главная</a></li>
                        <li{% if section == 'about' %} class="selected"{% endif %}><a href="{{ url_for('about') }}">Об авторе</a></li>
                        <li{% if section == 'contacts' %} class="selected"{% endif %}><a href="{{ url_for('contacts') }}">Контакты</a></li>
                        <!--
                        <li{% if section == 'links' %} class="selected"{% endif %}><a href="{{ url_for('links') }}">Ссылки</a></li>
                        -->
                        {% if users.is_current_user_admin() %}
                            <li{% if section == 'add' %} class="selected"{% endif %}><a href="{{ url_for('add') }}">Добавить</a></li>
                            <li><a href="{{ logout }}">Выйти</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div id="maincontent">
                {% block content %}{% endblock %}
            </div>

            <div id="footer">
                <div id="footer_stripe"></div>
                <span id="footer_label">
                    Bers, 2011
                </span>
            </div>
        </div>
    </body>
</html>
